:root {
  --primary-color: #000000;
  --primary-text-color: #ffffff;
  --visited-link: #8e5ebf;
  --active-link: #d081f7;
  --primary-button: #8e5ebf;
  --prim-button-text: #000;
  --secondary-button: #8e5ebf;
  --sec-button-text: #fff;
  --h-font-weight: 700;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 32px;
  font-weight: var(--h-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--h-font-weight);
  color: #854eb9;
}

h3 {
  font-size: 18px;
  font-weight: var(--h-font-weight);
}

a {
  color: var(--primary-text-color);
}

a:visited {
  /* visited link */
  color: var(--visited-link);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--active-link);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-button);
  color: var(--prim-button-text);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {

  cursor: pointer;

  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-button);
  color: var(--sec-button-text);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  width: 100%;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 20px;
  border-radius:  50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;

}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.shadow {
box-shadow: 0 3px 10px var(--primary-shadow);
border-radius: 10px;
}

@supports (display: grid) {

  .grid {
    display: -ms-grid;
    margin: 0 auto;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 1rem;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .grid__item {
    background-color: #ffffff;
    color: #000;
    width: auto;
    min-height: auto;
    margin: 0 auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 3px 10px;
    display: inline-block;
  
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: auto / auto;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: auto / auto;
    padding-left: 20px;
    padding-right: 20px;
  }


@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}


  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    text-align: center;
  }
}

.about {
  text-align: center;
}

.about-me {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.contact {
  text-align: center;
}

.nobull {
  list-style-type: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 800px;
  margin-top: 80px;
  font-size: 18px;

}

th,
td {
  padding: 16px 24px;
  text-align: center;
  color: #000
}

thead th {
  background-color: #8e5ebf;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}

.case-study {
  margin: 100px;
}

.case-study-intro {
  max-width: auto;
  margin: 0 auto;
  text-align: left;
  
}

.case-study-image-myflix {
  float: right;
  width: 700px;
  height: 500px;
  padding: 50px;
}

.case-study-approach {
max-width: auto;
  margin: 0 auto;
  text-align: left;
}

.case-study-image-server {
  float: left;
  width: 400;
  height: 250px;
  padding: 10px;
}

.case-study-image-client {
  float: center;
  padding: 10px;
}


